<div class="admin-container">
  <div class="admin-header"><%= t(:head_edit_inventory) %> <i class="fas fa-medkit"></i></div>
  <div class="admin-panel">

  <%= form_with model: @inventory, local:true do |form| %>

    <% if @inventory.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@inventory.errors.count, "error") %> prohibited
          this inventory from being updated:
        </h2>
        <ul>
          <% @user.inventories.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
  <p>  
    <%= form.label t(:kit_serial) %><br>
    <%= form.text_field :serial_num %> 
  </p>
    
  <p>
    <%= form.label t(:kit_type) %><br>
    <%= form.text_field :kit_type %>
  </p>

  <p>
    <%= form.label t(:expiration_date) %><br>
    <%= form.text_field :expiration_date %>
  </p>

  <p>
    <%= form.label t(:distributed) %><br>
    <%= form.text_field :distributed_date %>
  </p>

    <%= form.submit %>
  <% end %>

  <%= link_to "#{t(:back)}", inventories_path %>

  </div>
</div>