<div class="admin-container">
  <div class="admin-header"><%= t(:distributed_kits) %> <i class="fas fa-medkit"></i></div>
  <div class="admin-panel">
  <table class="inventory-index-table">
    <tr>
      <th class="tbl-media"><%= sort_link "serial_num", "#{t(:kit_serial)}" %></th>
      <th class="tbl-media"><%= sort_link "kit_type", "#{t(:kit_type)}" %></th>
      <th class="tbl-media"><%= sort_link "expiration_date", "#{t(:expiration_date)}" %></th>
      <th class="tbl-media"><%= sort_link "distributed_date","#{t(:distributed)}" %></th>
      <th class="tbl-desktop"><%= sort_link "client_id", "#{t(:client_id)}" %></th>
      <th class="tbl-desktop"><%= t(:county) %></th>
      <th class="tbl-desktop"><%= t(:city) %></th>
      <th class="tbl-desktop"><%= t(:volname) %></th>
      <th class="tbl-media"></th>
    </tr>
  
    <% @inventories.each do |inventory| %>
      <tr>
        <td class="tbl-media"><%= inventory.serial_num %></td>
        <td class="tbl-media"><%= inventory.kit_type%></td>
        <td class="tbl-media"><%= inventory.expiration_date %></td>
        <td class="tbl-media"><%= inventory.distributed_date %></td>
        <td class="tbl-desktop"><%= inventory.client_id %></td>
        <td class="tbl-desktop"><%= Client.find(inventory.client_id).county %></td>
        <td class="tbl-desktop"><%= Client.find(inventory.client_id).city %></td>
        <td class="tbl-desktop"><%= inventory.user.first_name %> <%= inventory.user.last_name %></td>
        <td class="tbl-media"><%= link_to "#{t(:update)}", edit_inventory_path(id: inventory.id) %></td>
      </tr>
    <% end %>
  </table>
  <div class="page-index">
    <%= paginate @inventories %>
    <%= page_entries_info @inventories %>
  </div>
  <%= link_to "#{t(:back)}", admin_path %>
  </div>
</div>