<p>
  <strong>Serial Number:</strong>
  <%= @inventory.serial_num %>
</p>
<p>
  <strong>Kit Type:</strong>
  <%= @inventory.kit_type%>
</p>
 
<p>
  <strong>Expiration Date:</strong>
  <%= @inventory.serial_num %>
</p>
<p>
<strong>Distribution Date:</strong>
<%= @inventory.serial_num%>
</p>
<p>
<strong>Client id:</strong>
<%= @inventory.serial_num%>
</p>
<strong>User id:</strong>
<%= @inventory.serial_num%>
</p>
<strong>checkout:</strong>
<%= @inventory.serial_num%>
</p>

 
<%= link_to 'Update', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
