<div class="admin-container">
  <div class="admin-header"> Show Inventory <i class="fas fa-medkit"></i></div>
  <div class="admin-panel">
  <p>
  <strong><%= t(:kit_serial) %></strong>
  <%= @inventory.serial_num %>
</p>
<p>
  <strong><%= t(:kit_type) %></strong>
  <%= @inventory.kit_type%>
</p>
 
<p>
  <strong><%= t(:expiration_date) %></strong>
  <%= @inventory.serial_num %>
</p>
<p>
<strong><%= t(:distributed) %></strong>
<%= @inventory.serial_num%>
</p>
<p>
<strong><%= t(:client_id) %></strong>
<%= @inventory.serial_num%>
</p>
<strong><%= t(:user_id) %></strong>
<%= @inventory.serial_num%>
</p>
<strong><%= t(:checkout) %></strong>
<%= @inventory.serial_num%>
</p>

 
<%= link_to "#{t(:update)}", edit_inventory_path(@inventory) %> |
<%= link_to "#{t(:back)}", inventories_path %>
