<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<meta name="viewport" content="initial-scale=1.0 width=device-width">
</head>
<p>
  <strong>Serial Number:</strong>
  <%= @inventory.serial_num %>
</p>
<p>
  <strong>Kit Type:</strong>
  <%= @inventory.kit_type%>
</p>
 
<p>
  <strong>Expiration Date:</strong>
  <%= @inventory.serial_num %>
</p>
<p>
<strong>Distribution Date:</strong>
<%= @inventory.serial_num%>
</p>
<p>
<strong>Client id:</strong>
<%= @inventory.serial_num%>
</p>
<strong>User id:</strong>
<%= @inventory.serial_num%>
</p>
<strong>checkout:</strong>
<%= @inventory.serial_num%>
</p>

 
<%= link_to 'Update', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
