<div class="admin-container">
  <div class="admin-header"><%= t(:head_update_kit) %> <i class="fas fa-medkit"></i></div>
  <div class="admin-panel">
  <%= form.label "#{t(:kit_serial)}" %><br>
        <%= form.text_field :serial_num %> 
      </p>
    
      <p>
        <%= form.label "#{t(:kit_type)}" %><br>
        <%= form.text_field :kit_type %>
      </p>
      <p>
      
    <p>
      <%= form.submit "#{t(:submit)}" %>
    </p>
  
  
  <%= link_to "#{t(:back)}", inventories_path %>

  </div>
</div>