<h1>Update Kit</h1>
 
   <%= form.label :Serial Number %><br>
      <%= form.text_field :serial_num %> 
    </p>
   
    <p>
      <%= form.label :Kit Type %><br>
      <%= form.text_field :kit_type %>
    </p>
    <p>
    
  <p>
    <%= form.submit %>
  </p>
 
 
<%= link_to 'Back', inventories_path %>