<h1>All Volunteers</h1>
<%= link_to "Register a New Volunteer Account", new_user_registration_path %><br>
<%= link_to "View Inventory", inventories_path %><br>
<%= link_to "View All Reversals", reversals_path %><br>
<table>
  <tr>
    <th>Date Authorized as Volunteer</th>
    <th><%= sort_link "first_name" %></th>
    <th><%= sort_link "last_name" %></th>
    <th>Administrator</th>
    <th>Date Authorized as Administrator</th>
    <th><%= sort_link "email" %></th>
    <th>Phone Number</th>
    <th>Preferred Contact Method</th>
    <th><%= sort_link "county" %></th>
    <th>Address1</th>
    <th>Address2</th>
    <th><%= sort_link "city" %></th>
    <th>State</th>
    <th>Zip</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.date_auth %></td>
      <td><%= user.first_name%></td>
      <td><%= user.last_name %></td>
      <td><%= user.admin %></td>
      <td><%= user.admin_auth %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.contact_type %></td>
      <td><%= user.county %></td>
      <td><%= user.address1 %></td>
      <td><%= user.address2 %></td>
      <td><%= user.city %></td>
      <td><%= user.state %></td>
      <td><%= user.zip %></td>
      <td><%= link_to 'Update', edit_user_path(user) %></td>
    </tr>
  <% end %>
</table>
  <%= paginate @users %>
  <%= page_entries_info @users %>

  
