<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<meta name="viewport" content="initial-scale=1.0 width=device-width">
</head>

<span style="text-align: center"><h2>Welcome New Volunteer!</h2></span>
<h2>Please register for your new volunteer account.<h2>


  <%= form_with url: users_path,  local:true do |f| %>
  <%# <%= devise_error_messages! %> 

<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
<div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :county %><br />
    <%= select_tag :county, "<option>Alamance</option>
    <option>Alexander</option>
    <option>Alleghany</option>
    <option>Anson</option>
    <option>Ashe</option>
    <option>Avery</option>
    <option>Beaufort</option>
    <option>Bertie</option>
    <option>Bladen</option>
    <option>Brunswuick</option>
    <option>Buncombe</option>
    <option>Burke</option>
    <option>Cabarrus</option>
    <option>Caldwell</option>
    <option>Camden</option>
    <option>Carteret</option>
    <option>Caswell</option>
    <option>Catawba</option>
    <option>Chatham</option>
    <option>Cherokee</option>
    <option>Chowan</option>
    <option>Clay</option>
    <option>Cleveland</option>
    <option>Columbus</option>
    <option>Craven</option>
    <option>Cumberland</option>
    <option>Currituck</option>
    <option>Dare</option>
    <option>Davidson</option>
    <option>Davie</option>
    <option>Duplin</option>
    <option>Durham</option>
    <option>Edgecombe</option>
    <option>Forsyth</option>
    <option>Franklin</option>
    <option>Gaston</option>
    <option>Gates</option>
    <option>Graham</option>
    <option>Granville</option>
    <option>Greene</option>
    <option>Guilford</option>
    <option>Halifax</option>
    <option>Harnett</option>
    <option>Haywood</option>
    <option>Henderson</option>
    <option>Hertford</option>
    <option>Hoke</option>
    <option>Hyde</option>
    <option>Iredell</option>
    <option>Jackson</option>
    <option>Johnston</option>
    <option>Jones</option>
    <option>Lee</option>
    <option>Lenoir</option>
    <option>Lincoln</option>
    <option>McDowell</option>
    <option>Macon</option>
    <option>Madison</option>
    <option>Martin</option>
    <option>Mecklenburg</option>
    <option>Mitchell</option>
    <option>Montgomery</option>
    <option>Moore</option>
    <option>Nash</option>
    <option>New Hanover</option>
    <option>Northampton</option>
    <option>Onslow</option>
    <option>Orange</option>
    <option>Pamlico</option>
    <option>Pasquotank</option>
    <option>Pender</option>
    <option>Perquimans</option>
    <option>Person</option>
    <option>Pitt</option>
    <option>Polk</option>
    <option>Randolph</option>
    <option>Richmond</option>
    <option>Robeson</option>
    <option>Rockingham</option>
    <option>Rowan</option>
    <option>Rutherford</option>
    <option>Sampson</option>
    <option>Scotland</option>
    <option>Stanly</option>
    <option>Stokes</option>
    <option>Surry</option>
    <option>Swain</option>
    <option>Transylvania</option>
    <option>Tyrrell</option>
    <option>Union</option>
    <option>Vance</option>
    <option>Wake</option>
    <option>Warren</option>
    <option>Washington</option>
    <option>Watauga</option>
    <option>Wayne</option>
    <option>Wilkes</option>
    <option>Wilson</option>
    <option>Yadkin</option>
    <option>Yancey</option>", :include_blank => "Choose County" %>
  </div>
  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2 %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
  <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
  <%= f.label :admin %><br />
    <%= f.check_box :admin, {}, true, false %>
  </div>
  <div class="field">
  <%= f.label :contact_type %><br />
    <%= f.text_field :contact_type %>
  </div>
  <div class="field">
  <%= f.label :date_auth %><br />
    <%= f.date_field :date_auth %>
  </div>
  <div class="field">
  <%= f.label :admin_auth %><br />
    <%= f.date_field :admin_auth %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>

