<h1>Your Volunteer Information</h1>

<p>
  <strong>FirstName:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong>LastName:</strong>
  <%= @user.last_name%>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @user.phone %>
</p>

<p>
<strong>PhoneNumber:</strong>
<%= @user.phone%>
</p>

<p>
<strong>Preferred_Method_of_Contact:</strong>
<%= @user.contact_type%>
</p>

<p>
<strong>Address:</strong>
<%= @user.address1%>
</p>

<p>
<strong>Address2:</strong>
<%= @user.address2%>
</p>

<p>
<strong>City:</strong>
<%= @user.city %>
</p>

<p>
<strong>County</strong>
<%= @user.county %>
</p>

<p>
<strong>State</strong>
</p>

<p>
<strong>Zip Code</strong>
<%= @user.zip %>
</p>

<p>
<strong>DateofVolunteerAuthorization</strong>
<%= @user.date_auth %>
</p>

<p>
<strong>DateofAdminAuthorization</strong>
<%= @user.admin_auth %>
</p>


<%= link_to 'Back', users_path %>

