<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>
<div class="admin-panel">
        <p><b>Admin Panel</b></p>
    <ul>
        <li><%= link_to "Naloxone Distribution", home_index_path %></li>
        <li><%= link_to "Reversals", reversals_path %></li>
        <li><%= link_to "Inventory", inventories_path %></li>
        <li><%= link_to "Volunteers", users_path %></li>
        <li><%= link_to "Register a New Volunteer", new_user_path %></li>
    </ul>
</div>