<div class="admin-container">
    <div class="admin-header">Admin Panel <i class="fas fa-user-plus"></i></div>
    <div class="admin-panel">
        <p>Welcome, <%= current_user.first_name %> <%= current_user.last_name %>!</p>
        <div class="admin-nav">
            <ul class="ap-ul">
                <li class="li-ndistro"><i class="fas fa-hands-helping"></i> <%= link_to "#{t(:naloxone_link)}", home_index_path %></li>
                <li>Total <i class="fas fa-heartbeat"></i> <%= link_to "#{t(:reverse)}", reversals_path %>: <%= Reversal.all.count %></li>
                <li>Total <i class="fas fa-medkit"></i> <%= link_to "#{t(:distro_nalkit)}", inventories_path %>: <%= Inventory.all.count %></li>
                <li>Total <i class="far fa-user"></i> <%= link_to "#{t(:volunteers)}", users_path %>: <%= User.all.count %></li>
                <li class="li-newvol"><%= link_to "#{t(:register_new)}", new_user_path %></li>
            </ul>
        </div>
    </div>
</div>