<div class="admin-container">
  <div class="admin-header"><%= t(:head_reverse) %> <i class="fas fa-heartbeat"></i></div>
  <div class="admin-panel">
    <table class="reversal-index-table">
      <tr>
        <th class="tbl-media"><%= sort_link "county", "#{t(:county)}" %></th>
        <th class="tbl-media"><%= sort_link "town", "#{t(:town)}" %></th>
        <th class="tbl-media"><%= sort_link "doses", "#{t(:doses)}" %></th>
        <th class="tbl-media"><%= sort_link "kit_type", "#{t(:kit_type)}" %></th>
        <th class="tbl-media"><%= sort_link "time_between", "#{t(:minutes_doses)}" %></th>
      </tr>
    
      <% @reversals.each do |reversal| %>
        <tr>
          <td class="tbl-media"><%= reversal.county %></td>
          <td class="tbl-media"><%= reversal.town %></td>
          <td class="tbl-media"><%= reversal.doses %></td>
          <td class="tbl-media"><%= reversal.kit_type %></td>
          <td class="tbl-media"><%= reversal.time_between %></td>
        </tr>
      <% end %>
    </table>
    <div class="page-index">  
        <%= paginate @reversals %>
        <%= page_entries_info @reversals %>
    </div>
    <%= link_to "#{t(:back)}", admin_path %>
  </div>
</div>