<div class="admin-container">
  <div class="admin-header">List of Reversals <i class="fas fa-heartbeat"></i></div>
  <div class="admin-panel">
    <table class="reversal-index-table">
      <tr>
        <th class="tbl-media"><%= sort_link "county" %></th>
        <th class="tbl-media"><%= sort_link "town" %></th>
        <th class="tbl-media"><%= sort_link "doses", "Doses Count" %></th>
        <th class="tbl-media"><%= sort_link "kit_type" %></th>
        <th class="tbl-media"><%= sort_link "time_between", "Dose Timing" %></th>
      </tr>
    
      <% @reversals.each do |reversal| %>
        <tr>
          <td class="tbl-media"><%= reversal.county %></td>
          <td class="tbl-media"><%= reversal.town %></td>
          <td class="tbl-media"><%= reversal.doses %></td>
          <td class="tbl-media"><%= reversal.kit_type %></td>
          <td class="tbl-media"><%= reversal.time_between %></td>
        </tr>
      <% end %>
    </table>
    <div class="page-index">  
        <%= paginate @reversals %>
        <%= page_entries_info @reversals %>
    </div>
    <%= link_to 'Back', admin_path %>
  </div>
</div>