<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
<meta name="viewport" content="initial-scale=1.0 width=device-width">
</head>

<h1>All Reversals</h1>

<table>
  <tr>
    <th><%= sort_link "county" %></th>
    <th><%= sort_link "town" %></th>
    <th>Number of <%= sort_link "doses" %></th>
    <th>Kit Type </th>
    <th>Time Between Doses (minutes) </th>
  </tr>
 
  <% @reversals.each do |reversal| %>
    <tr>
      <td><%= reversal.county %></td>
      <td><%= reversal.town%></td>
      <td><%= reversal.doses %></td>
      <td><%= reversal.kit_type %></td>
      <td><%= reversal.time_between %></td>
    </tr>
  <% end %>
</table>
  <%= paginate @reversals %>
  <%= page_entries_info @reversals %><br>

<%= link_to 'Back', admin_path %>