<h2>All Reversals</h2>

<p>
  <strong>County:</strong>
  <%= @reversal.county %>
</p>
<p>
  <strong>Town:</strong>
  <%= @reversal.town%>
</p>
 
<p>
  <strong>Number of Doses:</strong>
  <%= @reversal.doses %>
</p>
<p>
<strong>Kit Type:</strong>
<%= @reversal.kit_type%>
</p>
<p>
<strong>Time Between Doses (minutes):</strong>
<%= @reversal..time_between%>
</p>

<%= link_to '<<Back', reversals_path %>